#F8settings .upcoming {
	text-align: center;
	color: var(--text-normal);
	font-weight: bold;
}
#F8settings .upcoming strong{
	font-size: 2.5em;
}
#F8settings .upcoming p{
	font-size: 1.25em;
}
.Bubfeat{
	visibility: hidden;
}
.Keyplacement{
	width:100%;
	font-size:2em;
	resize: none;
}
#F8settings [role="radiogroup"] {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill,calc(50% - 10px));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#F8settings [role="radiogroup"]+.divider-3573oO{
	display: none;
}
#F8settings .warning{
	color:red;
	position: relative;
	top:-28px;
	left:70px;
}
